<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/katex/katex/katex.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script src="{{ site.baseurl }}/assets/katex/katex/katex.min.js"></script>
  <script src="{{ site.baseurl }}/assets/katex/katex/contrib/auto-render.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "\\[", right: "\\]", display: true},
          {left: "$", right: "$", display: false},
          {left: "\\(", right: "\\)", display: false}
        ]
      });
    });
  </script>


</head>
<body>
  <nav class="navbar">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/posts/">Posts</a>
    <a href="{{ site.baseurl }}/about/">About</a>
  </nav>
  {{ content }}
</body>
</html>

